pandas 
numpy
seaborn
matplotlib
scikit-learn
catboost
xgboost
dill

# to install packages and requirements we need to insure setup.py file should execute
#  this -e . will trigger setup.py file automatically
# -e .
# comment it down -  this -e. when ever installing pacakges because it will create packages